[Unit]
Description=Beocreate 2 Server
Documentation=https://github.com/bang-olufsen/create/
Wants=audiocontrol2.service
After=network.target sigmatcp.service audiocontrol2.service
Before=hifiberry.target

[Service]
Type=notify
Environment=HOME=/root
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting Beocreate server"
ExecStart=/usr/bin/node /opt/beocreate/beo-system/beo-server.js ${BEOCREATE_ARGS}
ExecStartPost=-rm /etc/quiet_start
WorkingDirectory=/opt/beocreate/
User=root
Restart=always
RestartSec=10s
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target

