[Unit]
Description=Beocreate 2 Server
Documentation=https://github.com/bang-olufsen/create/
Wants=audiocontrol2.service
After=network.target sigmatcp.service audiocontrol2.service
Before=hifiberry.target

[Service]
Type=notify
Environment=HOME=/root
ExecStartPre=/usr/bin/sleep 2
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting Beocreate server"
ExecStart=/usr/bin/node /opt/beocreate/beo-system/beo-server.js ${BEOCREATE_ARGS}
ExecStartPost=/usr/bin/sleep 15
WorkingDirectory=/opt/beocreate/
User=root
Restart=on-failure
RestartSec=10s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=beocreate2

[Install]
WantedBy=multi-user.target

