[Unit]
Description=SigmaTCP Server for HiFiBerry DSP
Wants=network-online.target
After=network.target

[Service]
Type=simple
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting DSP server"
ExecStart=/usr/bin/sigmatcpserver --alsa
StandardOutput=journal
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
