[Unit]
Description=SigmaTCP Server for HiFiBerry DSP
Wants=network-online.target
After=network.target

[Service]
Type=notify
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting DSP server"
ExecStart=/usr/bin/sigmatcpserver --alsa  ${SIGMATCPSERVER_ARGS}
ExecStartPost=/bin/sleep 3
StandardOutput=journal
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
