[Unit]
Description=mpd-mpris
Requires=mpd.service
After=mpd.service

[Service]
Type=simple
Environment=HOME=/var/lib/hifiberry
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket
# MPD needs some time to start
ExecStartPre=sleep 5  
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting MPD control interface"
ExecStart=/usr/bin/mpd-mpris -no-instance
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
