[Unit]
Description=HiFiBerry startup
After=hifiberry.target

[Service]
Type=oneshot
ExecStartPre=/opt/hifiberry/bin/pc-write 1 0    # Static LED
ExecStartPre=/opt/hifiberry/bin/pc-write 2 0    # R
ExecStartPre=/opt/hifiberry/bin/pc-write 3 0x70 # G
ExecStart=/opt/hifiberry/bin/pc-write 4 0       # B
StandardOutput=journal

[Install]
WantedBy=multi-user.target
