[Unit]
Description=HiFiBerry startup
Before=basic.target
After=local-fs.target sysinit.target

[Service]
Type=oneshot
ExecStartPre=/sbin/modprobe i2c_dev
ExecStartPre=-/opt/hifiberry/bin/pc-write 1 1    # Pulsing LED
ExecStartPre=-/opt/hifiberry/bin/pc-write 2 0    # R
ExecStartPre=-/opt/hifiberry/bin/pc-write 3 0x70 # G
ExecStart=-/opt/hifiberry/bin/pc-write 4 0       # B

[Install]
WantedBy=multi-user.target
