[Unit]
Description=HiFiBerry startup
Before=systemd-journald.service

[Service]
Type=oneshot
ExecStartPre=/sbin/modprobe i2c_dev
ExecStartPre=/opt/hifiberry/bin/pc-write 1 1    # Pulsing LED
ExecStartPre=/opt/hifiberry/bin/pc-write 2 0    # R
ExecStartPre=/opt/hifiberry/bin/pc-write 3 0x70 # G
ExecStart=/opt/hifiberry/bin/pc-write 4 0       # B
StandardOutput=journal

[Install]
WantedBy=multi-user.target
