[Unit]
Description=Shutdown via power controller
After=hifiberry.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStopPre=/opt/hifiberry/bin/pc-write 1 1     # Pulsing LED
ExecStartPre=/opt/hifiberry/bin/pc-write 2 0x70 # R
ExecStartPre=/opt/hifiberry/bin/pc-write 3 0x0  # G
ExecStart=/opt/hifiberry/bin/pc-write 4 0x00       # B
StandardOutput=journal

[Install]
WantedBy=multi-user.target
