[Unit]
Description=Activate /data
After=boot.mount local-fs.target systemd-remount-fs.service systemd-sysusers.service
Before=mpd.service

[Service]
Type=oneshot
ExecStart=/opt/hifiberry/bin/activate-data-partition
StandardOutput=journal

[Install]
WantedBy=multi-user.target
