[Unit]
Description=Reconfigure players
After=sound.target configure-system.service hifiberry-detect.service local-fs.target

[Service]
Type=oneshot
ExecStart=/opt/hifiberry/bin/reconfigure-players --reboot
StandardOutput=journal

[Install]
WantedBy=multi-user.target
