[Unit]
Description=HiFiBerry final 
After=hifiberry.target
Before=psplash-quit.service

[Service]
Type=oneshot
ExecStart=/opt/hifiberry/bin/myip
StandardOutput=journal

[Install]
WantedBy=multi-user.target
