[Unit]
Description=HiFiBerry target
After=alsaloop.service bluealsa-aplay.service mpd.service raat.service shairport-sync.service spotify.service squeezelite.service audiocontrol2.service ympd.service beocreate2.service
Before=psplash-quit.service

[Install]
WantedBy=multi-user.target
