system_name="HiFiBerry"

wifi_ssid=homenetwork
wifi_psk=mypassphrase
wifi_country=DE
wifi_enable=1

spotify_enable=1
spotify_user=myuser
spotify_password=mypass

airplay_enable=1

roon_enable=1

squeezebox_enable=1

bluetooth_enable=1    
                      
sound_initialvolume="80%"
