[Unit]
Description=Set initial volume
Wants=sound.target

[Service]
Type=oneshot
# Sound card might not be fully initialized even if sound.target has been reached :(
ExecStartPre=sleep 3
ExecStart=/opt/hifiberry/bin/set-initial-volume
StandardOutput=journal

[Install]
WantedBy=multi-user.target
