[Unit]
Description=Set initial volume
Wants=sound.target
After=sound.target

[Service]
Type=oneshot
ExecStart=/opt/hifiberry/bin/set-initial-volume
StandardOutput=journal

[Install]
WantedBy=multi-user.target
