[Unit]
Description=MyIP - say local IP
Wants=network-online.target
After=network.target network-online.target sound.target

[Service]
Type=Oneshot
ExecStart=/opt/hifiberry/bin/myip
StandardOutput=journal

[Install]
WantedBy=multi-user.target
