[Unit]
Description=MyIP - say local IP
Wants=network-online.target
After=network.target network-online.target sound.target initial-volume.service

[Service]
Type=oneshot
ExecStartPre=/opt/hifiberry/bin/bootmsg "Saying IP"
ExecStart=/opt/hifiberry/bin/myip
StandardOutput=journal

[Install]
WantedBy=multi-user.target
