[Unit]
Description=Reboot after configuration changes
After=configure-players.service configure-system.service hifiberry-detect.service resize-partitions.service activate-data-partition.service
Before=myip.service
ConditionPathExists=/tmp/reboot

[Service]
Type=oneshot
ExecStartPre=/opt/hifiberry/bin/bootmsg "Rebooting"
ExecStartPre=/bin/sync
ExecStart=/bin/systemctl reboot
StandardOutput=journal

[Install]
WantedBy=multi-user.target
