[Unit]
Description=Reboot after configuration changes
After=configure-players.service hifiberry-detect.service resize-partitions.service activate-data-partition.service extensions-install.service
Before=myip.service
ConditionPathExists=/tmp/reboot
ConditionPathExists=!/boot/noreboot

[Service]
Type=oneshot
StandardOutput=append:/var/log/reboot.log
ExecStartPre=/opt/hifiberry/bin/bootmsg "Rebooting"
ExecStartPre=/bin/date
ExecStartPre=cat /tmp/reboot
ExecStartPre=/bin/sync
ExecStart=/bin/systemctl reboot
StandardOutput=journal


[Install]
WantedBy=multi-user.target
