[Unit]
Description=Resize file systems
After=systemd-fsck@.service boot.mount systemd-remount-fs.service systemd-sysusers.service
Before=network.target configure-system.service

[Service]
Type=oneshot
ExecStartPre=/opt/hifiberry/bin/bootmsg "Resizing partitions"
ExecStart=/opt/hifiberry/bin/resize-partitions
StandardOutput=journal

[Install]
WantedBy=multi-user.target
