[Unit]
Description=Restore volume
Wants=sound.target
After=sound.target squeezelite.service sigmatcpserver.service
Before=roon.service mpd.service spotifyd.service
ConditionPathExists=/etc/alsactl.store

[Service]
Type=oneshot
ExecStartPre=/opt/hifiberry/bin/bootmsg "Restoring volume"
ExecStart=/opt/hifiberry/bin/restore-volume
StandardOutput=journal

[Install]
WantedBy=multi-user.target
