[Unit]
Description=Squeezelite
Wants=network.target
After=network.target sound.target spotify.service
Before=initial-volume.service

[Service]
Type=simple
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting squeezelite"
ExecStartPre=alsactl --file /tmp/sqvol store
ExecStartPre=/bin/bash -c "/usr/bin/systemctl set-environment MIXER=`/opt/hifiberry/bin/volume-control-name`"
ExecStart=/usr/bin/squeezelite -o default -M HiFiBerry -N /var/squeezelite/squeezelite.name -V ${MIXER}
ExecStartPost=sleep 2
ExecStartPost=alsactl --file /tmp/sqvol restore
StandardOutput=journal
Restart=always
RestartSec=5
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
