[Unit]
Description=Squeezelite
After=networkup.service sound.target spotify.service
Before=initial-volume.service

[Service]
Type=simple
Environment=HOME=/root
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting squeezelite"
ExecStartPre=/opt/hifiberry/bin/store-volume /tmp/sqvol store
ExecStart=/bin/squeezelite-start
ExecStartPost=sleep 2
ExecStartPost=/opt/hifiberry/bin/restore-volume /tmp/sqvol
StandardOutput=journal
Restart=always
RestartSec=5
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
