[Unit]
Description=ympd MPD web interface

[Service]
Type=simple
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting MPD web interface"
ExecStart=/usr/bin/ympd -w "[::]:9000"
StandardOutput=journal
Restart=always
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target

