[Unit]
Description=Mount Samba shares
Wants=network.target local-fs.target
Requires=mount-data.service
After=network-online.target sound.target local-fs.target mount-data.service
Before=beocreate2.service

[Service]
Type=oneshot
ExecStartPre=/opt/hifiberry/bin/bootmsg "Mounting SMB shares"
ExecStart=-/opt/hifiberry/bin/mount-smb.py
RemainAfterExit=yes
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
