[Unit]
Description=Mount USB Drive on %i
Requires=mount-data.service
After=datacollector.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/hifiberry/bin/mount-usb.sh add %i
ExecStop=/opt/hifiberry/bin/mount-usb.sh remove %i

