packages/hifiberryos/dependencies.full.merged
packages/audiocontrol2/audiocontrol2
packages/raat/raat
packages/librespot/librespot
packages/spotifyd/spotifyd
packages/snapcast/snapcast
packages/snapcastmpris/snapcastmpris
packages/squeezelite/squeezelite
packages/pipewire-server/pipewire-server
**/.debhelper/
packages/testtools_*.dsc
packages/testtools_*.tar.gz
packages/testtools_*.buildinfo
packages/testtools_*.changes
packages/python-pymcuprog/wheel_dir
packages/configurator/configurator-*.tar.gz
packages/configurator/PACKAGEFILE
packages/configurator/configurator.egg-info
packages/configurator/deb_dist
packages/configurator/dist
packages/pipewire/pipewire-docker-build/out/
