[Unit]
Description=Timezone update
Wants=network-online.target
After=network.target

[Service]
Type=simple
ExecStartPre=/opt/hifiberry/bin/bootmsg "Updating timezone"
ExecStartPre=/bin/sleep 20
ExecStart=/bin/tzupdate
StandardOutput=journal

[Install]
WantedBy=multi-user.target
