[Unit]
Description=Bluetooth MPRIS proxy
Wants=network-online.target
After=dbus.target bluealsa.service

[Service]
Type=simple
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket
ExecStart=/bin/mpris-proxy
StandardOutput=journal
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

