[Unit]
Description=Bluetooth A2DP agent
Requires=bluetooth.service btuart.service
After=bluetooth.service btuart.service

[Service]
ExecStart=/opt/btspeaker/a2dp-agent.py
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
