[Unit]
Description=BlueALSA aplay
Requires=bluealsa.service
After=bluealsa.service sound.target

[Service]
# BlueALSA takes some time to initialize
ExecStartPre=sleep 2
ExecStart=/usr/bin/bluealsa-aplay --pcm-buffer-time=250000 00:00:00:00:00:00
RestartSec=5  
Restart=Always

[Install]
WantedBy=multi-user.target
