[Unit]
Description=Bluetooth demon
Requires=dbus.service
After=dbus.service

[Service]
#ExecStartPre=/opt/btspeaker/btuart.sh
ExecStart=/usr/libexec/bluetooth/bluetoothd -f /etc/bluetooth/main.conf -P sap,hostname

[Install]
WantedBy=multi-user.target
