[Unit]
Description=BlueALSA
Requires=a2dp-agent.service
After=a2dp-agent.service

[Service]
ExecStart=/usr/bin/bluealsa -i hci0 -p a2dp-sink

[Install]
WantedBy=multi-user.target
RestartSec=5
Restart=Always
