[Unit]
Description=Bluetooth hardware initialisiation
After=bluetooth.service
Before=bluealsa.service

[Service]
Type=simple
ExecStartPre=/opt/hifiberry/bin/bootmsg "Initalizing Bluetooth hardware"
ExecStart=/opt/btspeaker/btuart.sh
ExecStartPost=sleep 3
ExecStartPost=/usr/bin/hciconfig hci0 up           
ExecStartPost=/usr/bin/bluetoothctl power on   
ExecStartPost=/usr/bin/bluetoothctl discoverable on
ExecStartPost=/usr/bin/hciconfig hci0 piscan       
ExecStartPost=/usr/bin/hciconfig hci0 sspmode 1    

[Install]
WantedBy=multi-user.target
