[Unit]
Description=Bluetooth hardware initialisiation
After=bluetooth.service
Before=bluealsa.service

[Service]
Type=oneshot
ExecStart=/opt/hifiberry/bin/bootmsg "Starting Bluetooth interface"
ExecStartPost=sleep 5
ExecStartPost=/usr/bin/hciconfig hci0 up           
ExecStartPost=/usr/bin/bluetoothctl power on   
ExecStartPost=/usr/bin/bluetoothctl discoverable on
ExecStartPost=/usr/bin/hciconfig hci0 piscan       
ExecStartPost=/usr/bin/hciconfig hci0 sspmode 1    

[Install]
WantedBy=multi-user.target
