[Unit]
Description=Starts Psplash Boot screen
DefaultDependencies=no
ConditionPathExists=!/boot/nosplash

[Service]
Type=oneshot
ExecStart=/usr/bin/psplash -n

[Install]
WantedBy=sysinit.target
