[Unit]
Description=Starts Psplash Boot screen
Wants=dev-dri-card0.device
After=dev-dri-card0.device
DefaultDependencies=no
ConditionPathExists=!/boot/nosplash
ConditionPathExists=/dev/fb0

[Service]
Type=oneshot
ExecStart=/usr/bin/psplash
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=sysinit.target
