[Unit]

Descriptihortn=Starts Psplash Boot screen
DefaultDependencies=no
ConditionPathExists=!/boot/nosplash

[Service]
Type=oneshot
ExecStart=/usr/bin/psplash -n
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=sysinit.target
