[Unit]

Descriptihortn=Starts Psplash Boot screen
DefaultDependencies=no
ConditionPathExists=!/boot/nosplash
ConditionPathExists=!/etc/nosplash
Requires=fb0.device

[Service]
Type=oneshot
ExecStart=/usr/bin/psplash -n
RemainAfterExit=yes
Restart=no
TimeoutStopSec=2

[Install]
WantedBy=sysinit.target
