[Unit]
Description=Terminate Psplash Boot Screen
ConditionPathExists=!/boot/nosplash
ConditionPathExists=/dev/fb0

[Service]
Type=oneshot
ExecStart=/usr/bin/psplash-write QUIT
TimeoutSec=20

[Install]
WantedBy=multi-user.target
