[Unit]
Description=Roon
After=network.target sound.target configure-players.target
Before=alsaloop.service spotify.service mpd.service shairport-sync.service dlnampris.service snapcastmpris.service
ConditionPathExists=/etc/features/arm7
ConditionPathExists=!/custom/service/roon.disable

[Service]
Type=simple
Environment=HOME=/root
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting Roon"
#ExecStartPre=/opt/raat/configure-raat
ExecStart=/opt/raat/raat_app /etc/hifiberry_raat.conf
StandardOutput=journal
Restart=always
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
