[Unit]
Description=LMS MPRIS
Wants=dbus.service
After=network-up.service dbus.service

[Service]
Type=simple
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket
WorkingDirectory=/opt/lmsmpris
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting LMS control interface"
ExecStart=/usr/bin/python3 /opt/lmsmpris/lmsmpris.py
StandardOutput=journal
Restart=always
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
