[Unit]
Description=Temporary AP: hostapd
Wants=network.target
After=network.target temporary-ap.service
PartOf=temporary-ap.service
ConditionPathExists=!/boot/noap
ConditionPathExists=!/etc/noap

[Service]
Type=simple
ExecStart=/sbin/hostapd /etc/tempap-hostapd.conf
StandardOutput=journal
TimeoutStopSec=10

[Install]
WantedBy=temporary-ap.service

