[Unit]
Description=Temporay AP: dnsmasq
Wants=network.target tempap-hostapd.service
After=network.target tempap-hostapd.service
ConditionPathExists=!/boot/noap
ConditionPathExists=!/etc/noap

[Service]
Type=simple
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting temporary access point"
ExecStartPre=/sbin/ifconfig wlan0 10.0.0.1 up
ExecStart=/sbin/dnsmasq -d -C /etc/tempap-dnsmasq.conf --auth-ttl=0
ExecStopPost=/sbin/ifconfig wlan0 down
StandardOutput=journal
TimeoutStopSec=10

[Install]
