[Unit]
Description=WPA supplicant for %i
After=rngd.service

[Service]
ExecStartPre=/opt/hifiberry/bin/bootmsg "Configuring WLAN"
ExecStart=/sbin/wpa_supplicant -i%i -c/etc/wpa_supplicant.conf

[Install]
WantedBy=multi-user.target
