[Unit]
Description=Setup ir-keytable
After=hifiberry.target
ConditionPathExists=/etc/features/ir

[Service]
Type=oneshot
ExecStart=/usr/bin/ir-keytable --write=/etc/rc_keymaps/keymap.toml -c

[Install]
WantedBy=multi-user.target
