[Unit]
Description=HiFiBerry watchdog
After=network.target

[Service]
Type=simple
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting watchdog"
WorkingDirectory=/opt/watchdog
ExecStart=/bin/python /opt/watchdog/watchdog.py
StandardOutput=journal
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
