[Unit]
Description=BlueALSA
Requires=a2dp-agent.service
After=a2dp-agent.service
ConditionPathExists=!/custom/service/bluetooth.disable

[Service]
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting bluealsa"
ExecStart=/usr/bin/bluealsa -i hci0 -p a2dp-sink
RestartSec=5
Restart=always
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
