[Unit]
Description=BlueALSA
Requires=btagent.service
After=btagent.service
ConditionPathExists=!/custom/service/bluetooth.disable

[Service]
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting bluealsa"
ExecStart=/usr/bin/bluealsa -i hci0 -p a2dp-sink --a2dp-volume
RestartSec=5
Restart=always
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
