[Unit]
Description=Start containers
Requires=docker.service

[Service]
Type=oneshot
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting containers"
ExecStart=/opt/hifiberry/bin/start-containers
StandardOutput=journal

[Install]
WantedBy=multi-user.target

