[Unit]
Description=upmpdcli
Wants=mpd.service
After=mpd.service

[Service]
Type=simple
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting UPNP"
ExecStartPre=/opt/hifiberry/bin/upmpdcli-user
ExecStart=/bin/upmpdcli
StandardOutput=journal
Restart=always
RestartSec=20
TimeoutStopSec=2

[Install]
WantedBy=multi-user.target
