[Unit]
Description=Autodetect sound card

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 10
ExecStart=/opt/hifiberry/bin/detect-hifiberry.sh

[Install]
WantedBy=multi-user.target
