[Unit]
Description=Pulseaudio daemon
After=sound.target

[Service]
EnvironmentFile=/etc/conf.d/pulseaudio
ExecStart=/usr/bin/pulseaudio --system --disallow-exit --disallow-module-loading=1 --high-priority $PULSEAUDIO_ARGS
Restart=always

[Install]
WantedBy=multi-user.target
