[Unit]
Description=Vollibrespot
Wants=internet.service
After=network.target sound.target
ConditionPathExists=!/custom/service/spotify.disable

[Service]
Type=simple
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting Vollibrespot"
ExecStartPre=/opt/hifiberry/bin/store-volume /tmp/spotifyvol
ExecStartPre=/opt/hifiberry/bin/set-host-ip ap-gew4.spotify.com 104.199.65.124
ExecStart=/usr/bin/vollibrespot -c /etc/vollibrespot.conf
ExecStartPost=sleep 1
ExecStartPost=/opt/hifiberry/bin/restore-volume /tmp/spotifyvol
ExecStartPost=rm /tmp/spotifyvol

StandardOutput=journal
Restart=always
RestartSec=5

TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
