[Unit]
Description=alsaloop
After=sound.target
ConditionPathExists=/etc/hifiberry/can_record

[Service]
Type=simple
Environment=HOME=/root
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting alsaloop"
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket
ExecStart=/usr/bin/python3 /opt/alsaloop/alsaloopmpris.py
Restart=always
RestartSec=30
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
