[Unit]
Description=alsaloop
After=sound.target
ConditionPathExists=/etc/hifiberry/can_record

[Service]
Type=simple
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting alsaloop"
ExecStart=/bin/alsaloop -P default -C hw:0,0 -r 192000 -f S32_LE -t 100000
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
