[Unit]
Description=Resize file systems

[Service]
Type=oneshot
ExecStartPre=sleep 120
ExecStart=/opt/hifiberry/bin/resize-partitions
ExecStartPost=systemctl disable resize-partition.service
StandardOutput=journal

[Install]
WantedBy=multi-user.target
