[Unit]
Description=nqptp
Wants=network.target
Requires=avahi-daemon.service
After=network.target sound.target avahi-daemon.service

[Service]
Type=simple
Environment=HOME=/root
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting nqptp"
ExecStart=/bin/nqptp
Restart=always
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
