[Unit]
Description=PiGPIOd
Before=audiocontrol2.service beocreate2.service
ConditionPathExists=!/boot/nopigpiod

[Service]
Type=simple
ExecStart=/opt/hifiberry/bin/start-pigpiod
StandardOutput=journal
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
