[Unit]
Description=PiGPIOd
Before=audiocontrol2.service beocreate2.service
ConditionPathExists=!/boot/nopigpiod
ConditionPathExists=!/etc/hifiberry/pi5.detected

[Service]
Type=simple
ExecStart=/opt/hifiberry/bin/start-pigpiod
StandardOutput=journal
Restart=always
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
