[Unit]
Description=mpd
Wants=network.target
After=network.target sound.target
Before=beocreate2.service

[Service]
Type=simple
Environment=HOME=/root
ExecStartPre=/opt/hifiberry/bin/bootmsg "Mounting SMB shares"
ExecStartPre=-/opt/hifiberry/bin/mount-smb.sh
ExecStartPre=/opt/hifiberry/bin/bootmsg "Mounting USB drives"
ExecStartPre=-/opt/hifiberry/bin/mount-all.sh
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting music player daemon"
ExecStartPre=/opt/hifiberry/bin/pause-state-file
ExecStart=/bin/mpd --no-daemon

[Install]
WantedBy=multi-user.target
