[Unit]
Description=mpd
Wants=network.target
After=network.target sound.target

[Service]
Type=simple
ExecStart=/bin/mpd --no-daemon

[Install]
WantedBy=multi-user.target
