[Unit]
Description=mpd
Wants=network.target local-fs.target
Requires=mount-data.service
After=network.target sound.target local-fs.target mount-usb.service mount-smb.service
Before=beocreate2.service

[Service]
Type=simple
Environment=HOME=/root
ExecStartPre=-mkdir /var/run/mpd
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting music player daemon"
ExecStartPre=/opt/hifiberry/bin/pause-state-file
ExecStart=/bin/mpd --no-daemon
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
