[Unit]
Description=DLNA MPRIS
Wants=dbus.service
After=network-up.service dbus.service

[Service]
Type=simple
Environment=HOME=/root
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket
WorkingDirectory=/opt/dlnampris
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting DLNA metadata interface"
ExecStart=/usr/bin/python3 /opt/dlnampris/dlnampris.py
StandardOutput=journal
Restart=always
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target

