[Unit]
Description=Start containers
Requires=docker.service sound.target dbus.service
Before=beocreate2.service audiocontrol2.service

[Service]
Type=oneshot
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting extensions"
ExecStart=/opt/hifiberry/bin/extensions startup
StandardOutput=journal

[Install]
WantedBy=multi-user.target

