[Unit]
Description=One time extension installer
ConditionPathExists=!/etc/extensions.installed
Before=extensions.service
After=docker.service internet.service mount-data.service configure-players.service
Requires= docker.service internet.service mount-data.service

[Service]
Type=oneshot
ExecStart=/opt/hifiberry/bin/extensions defaultinstall
ExecStartPost=/bin/touch /etc/extensions.installed

[Install]
WantedBy=multi-user.target

