[Unit]
Description=Audio controller
Wants=network-online.target
After=network.target

[Service]
Type=simple
ExecStart=
StandardOutput=journal

[Install]
WantedBy=multi-user.target
