[Unit]
Description=Local web brower to display web interface
Requires=weston.service
After=weston.service beocreate2.service

[Service]
Type=simple
Environment=COG_PLATFORM_FDO_VIEW_FULLSCREEN=1
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/var/run/weston
ExecStartPre=/opt/hifiberry/bin/bootmsg "Starting web browser"
ExecStart=cog --webprocess-failure=restart -P wl http://localhost:80/#now-playing
StandardOutput=journal
Restart=on-failure
RestartSec=30s
StartLimitBurst=5
StartLimitIntervalSec=200s

[Install]
WantedBy=multi-user.target
