[Unit]
Description=Weston, a Wayland compositor, as a system service
Documentation=man:weston(1) man:weston.ini(5)
Documentation=http://wayland.freedesktop.org/

After=psplash-quit.service hifiberry.target

# D-Bus is necessary for contacting logind. Logind is required.
Wants=dbus.socket
After=dbus.socket hifiberry.target

# Prevent starting on systems without virtual consoles, Weston requires one
# for now.
ConditionPathExists=/dev/tty0

[Service]

# Requires systemd-notify.so Weston plugin.
Type=notify
ExecStartPre=-/usr/bin/mkdir /var/run/weston
Environment=XDG_RUNTIME_DIR=/var/run/weston
Environment=XDG_CONFIG_HOME=/etc/xdg/weston
ExecStart=/usr/bin/weston --backend=drm-backend.so --modules=systemd-notify.so

# Optional watchdog setup
TimeoutStartSec=60
WatchdogSec=20

# A virtual terminal is needed.
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

UtmpIdentifier=tty7
UtmpMode=user

User=root

# Fail to start if not controlling the tty.
StandardInput=tty-fail

[Install]
WantedBy=multiuser.target

